body{
    background-color: rgb(19, 45, 102);
    display: flex;
    justify-content: space-between;
    color: rgb(242, 242, 242);
}
header{
    background-color: rgb(22, 72, 52);
    border-radius: 15px;
    padding: 10px;
}

h2{
    font-weight: bold;
}

main div{
    background-color: rgb(22, 72, 52);
    border-radius: 15px;
    padding: 30px;
}

main div p{
    font-family: 'Times New Roman', Times, serif;
}
